body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .container{
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  /* Navbar all */
  .navbar{
    position: relative;
    display: flex;
    background-color: #171717;
    z-index: 295;
  }

  .navbar .nav-brand h1{
      position: relative;
      z-index: 100;
  }
  
  /* Menu */
  nav .nav-menu{
    display: flex;
    margin-left: auto;
  }
  
  nav .nav-menu ul{
    list-style: none;
  }
  
  nav .nav-menu ul li{
    display: inline;
    margin-left: 15px;
    font-size: 1rem;
    color: #fff;
    line-height: 2.188;
  }
  
  input[type=checkbox]{
    display: none;
  }
  
  .toggle-resp {
      display: none;
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      background-color: transparent;
      z-index: 290;
  }
  
  .toggle-resp input[type=checkbox]:checked ~ .bars {
    width: 60px;
    cursor: pointer; 
  }
  .bars .line {
    fill: none;
    stroke: #fff;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
    
  }
  .bars .line.top {
    stroke-dasharray: 40 172;
    
  }
  .bars .line.middle {
    stroke-dasharray: 40 111;
  }
  .bars .line.bottom {
    stroke-dasharray: 40 172;
  }
  input[type=checkbox]:checked ~ .toggle-resp .bars .top {
    stroke-dashoffset: -132px;
  }
  input[type=checkbox]:checked ~ .toggle-resp .bars .middle {
    stroke-dashoffset: -71px;
  }
  input[type=checkbox]:checked ~ .toggle-resp .bars .bottom {
    stroke-dashoffset: -132px;
  }
  
  
  
  @media (max-width: 768px){
    .toggle-resp{
      display: block;
    }
    
    nav .nav-menu ul{
      position: absolute;
      left: 0;
      right: 0;
      height: 100vh;
      padding: 0;
      padding: 1rem;
      background-color: #171717;
      text-align: left;
      z-index: 120;
    }
    
    nav .nav-menu ul li{
      position: relative;
      display: block;
      margin-left: 0;
      z-index: -1;
    }
    
    input[type=checkbox]{
      position: absolute;
      width: 60px;
      height: 60px;
      top: 0;
      z-index: 300;
      margin: 0;
      opacity: 0;
      display: block;
    }
    
    nav .nav-menu ul{
      transform: translateX(-150%);
      transition: 500ms;
    }
    
    input[type=checkbox]:checked ~ ul{
      transform: translateX(0%);
      transition: 500ms;
    }
  }